body {
    font-family: sans-serif;
    background: black;
    text-align: center;
    margin-top: 50px;
  }
  
  .container1 {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    background: violet;
   ;
  }
  .container2 {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    background: brown;
  }

  input, button{
width: 90%;
padding: 8px;
margin: 6px;
/* background: blue; */
  }

  Button{
    background: blanchedalmond;
  }


.course-parent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
}
li{
  list-style: none;
  margin-right: 25px;
}

.display_none{
  display: none;
}

.switch_Case{
  height: 45px;
  width: 60px;
  position: relative;
  top: 50px;
  left: 200px;
  border-radius: 20px;
  
}

@media (max-widt:620px){
 
  .container1 {
    width: 250px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 6px;
    background: green;
   
  }

  input, button{
    width: 20%;
    padding: 4px;
    margin: 2px;
    
      }
    
  

}